<html>
    <%- include('./components/header.ejs', {name: "home"}) %>
    <%- include('./components/navbar.ejs') %>
    <h1 class="title">home</h1>
<article>
    <p>What you need to know about COVID-19 vaccines</p>
    <img src= "/UN0415226.jpg" alt="vaccine">
    <p>
        Vaccines save millions of lives each year. The development of safe and effective COVID-19 vaccines are a crucial step in helping us get back to doing more of the things we enjoy with the people we love.

We’ve gathered the latest expert information to answer some of the most common questions about COVID-19 vaccines. Keep checking back as we will update this article as more information becomes available.
    </p>
</article>
    
    
</html>