<html>
    <%- include('./components/header.ejs' , {name: "sevices"}) %>
    <%- include('./components/navbar.ejs') %>
    <h1>Our services</h1>
    <h2>UNICEF works in over 190 countries and territories to protect the rights of every child.</h2>
    <h3>UNICEF's mission</h3>
    <p>
        The world has changed, but children’s needs have not. See how UNICEF’s commitment to children remains as strong as ever despite the complexities of our world.
    </p>
</html>